*{
	margin: 0;
	padding: 0;
}
/*--navbar--*/
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img{
	height: 60px;
	width: 60px;
}
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav li a{
	float: right;
	text-align: left; 
}
#nav-bar ul li a:hover{
	color: #538FC6!important;
}
.navbar{
	background: #fff;
}
.navbar-toggler{
	border: none!important;
}
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
/*--slider--*/
#slider{
	width: 100%;
}
.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;

}
.carousel-caption h5{
	color: #FFF;
	font-size: 42px;
}
/*--anime plot--*/
#anime-links {
	text-align: center;
	color: #FFF;
	display: auto;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #4B4145;
}

#anime-links a{
	color: #FFF;
}
/*--movies--*/
#movies-lists{
	text-align: center;
}
#movies-lists img{
	font-size: 0;
	width: 431px;
	border: 4px solid #333;
	display: inline-block;
	border-radius:10px;
}
#movies-lists img:hover{
	border-color: #00DEFF;
}
